/creds/
creds/mlops.pem
*/train_dir/
*.safetensors
*.pkl
*.pth
*.pth*.ckpt
*.ckpt-*
*.ckpt.*
*.bin
*.train_dir
*/runs/
*/runs_*
*/runs/*
*tfevents*
*vocab.txt
*config.json
*tokenizer.json
*tokens_map*
*special_token*
*trainer_state*
*spiece.model*